<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- Nous chargeons les fichiers CDN de Leaflet. Le CSS AVANT le JS -->
    <title>Carte</title>
</head>

<body>

    <!-- Fichiers Javascript -->


    <script type="text/javascript">
        navigator.geolocation.getCurrentPosition(position => {
            const { latitude, longitude } = position.coords;
            console.log(latitude, longitude);

            var url = "http://127.0.0.1:" + "{{ port }}" + {% url 'getRoute' %} + "?lat=" + latitude + "&lon=" + longitude;
            window.location.replace(url)
        });
    </script>
</body>

</html>